@import 'variables';
@import 'normalize';

*{
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $primary-color;
}
a{
  color: inherit;
}
:root{
  --primary-color: #09f1de;
}
.text-subtitle{
  font-size: $font-base;
}
.text-title-h6{
  font-size: $font-h6;
}
// animations

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
