.header {
  background-color:  #fff;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 10px;
} 

.link{
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}