.appInput{
  padding: 10px;
  width: 100%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.label{
  margin-bottom: 5px;
  display: block;
  text-align: left;
  font-weight: bold;
}